@import "tailwindcss";

@theme {
  --color-primary: #15803d; /* green-700 */
  --color-primary-hover: #166534; /* green-800 */
  --color-primary-light: #dcfce7; /* green-100 */
  
  --color-bg-base: #f8fafc; /* slate-50 */
  --color-bg-panel: #ffffff;
  
  --color-text-base: #1e293b; /* slate-800 */
  --color-text-muted: #64748b; /* slate-500 */
  
  --color-border: #e2e8f0; /* slate-200 */
}

@layer base {
  body {
    background-color: var(--color-bg-base);
    color: var(--color-text-base);
  }
}
